{% extends "stars/base.html" %}

{% block body %}
  <h3 class="text-center m-4">Update Star</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      Star was updated.
      <a href="{% url 'index' %}" class="alert-link">Go to home page.</a>
    </div>
  {% else %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card border-primary mb-3" bis_skin_checked="1">
        <div class="card-header" bis_skin_checked="1">
            <i class="fa-regular fa-pen-to-square"></i> Update star info
        </div>
        <div class="card-body" bis_skin_checked="1">
          <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}
